{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md">
        <p class="fs-1 text-primary">블루팀</p>
    </div>
    <div class="col-md">
        <p class="fs-1 text-danger">레드팀</p>
    </div>
</div>
{% if league_list %}
{%for league in league_list %}
<div class="row">
    <div class="col">
        <p class="text-start mb-0">{{league.create_date}}</p>
    </div>
</div>
<div class="row mb-2 mt-0">
    <div class="col-md">
        {% if league.blue == "승" %}
        <ul class="list-group list-group-flush victoryimg">
        {%else%}
        <ul class="list-group list-group-flush defeatimg">
        {%endif%}
        {% for entry in entry_list %}
        {% if entry.league.id == league.id and entry.camp == '블루' %}
            <li class="list-group-item fw-bold league-list">{{entry.name}}</li>
        {% endif %} 
        {% endfor %}   
        </ul>
    </div>
    <div class="col-md ">    
        {% if league.red == "승" %}
        <ul class="list-group list-group-flush victoryimg">
        {%else%}
        <ul class="list-group list-group-flush defeatimg">
        {%endif%}
        {% for entry in entry_list %}
        {% if entry.league.id == league.id and entry.camp == '레드' %}
                
                <li class="list-group-item fw-bold league-list">{{entry.name}}</li>
                
        {% endif %} 
        {% endfor %}   
        </ul>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="row">
    <div class="col">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if league_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ league_list.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo;</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in league_list.paginator.page_range %}
            {% if page_number >= league_list.number|add:-5 and page_number <= league_list.number|add:5 %}
                {% if page_number == league_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if league_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ league_list.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock%}