{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md">
        <p class="fs-1 text-primary">블루팀</p>
    </div>
    <div class="col-md">
        <p class="fs-1 text-danger">레드팀</p>
    </div>
</div>
{% if league_list %}
{%for league in league_list %}
<div class="row">
    <div class="col">
        <p class="text-start mb-0">{{league.create_date}}</p>
    </div>
</div>
<div class="row mb-2 mt-0">
    <div class="col-md">
        {% if league.blue == "승" %}
        <ul class="list-group list-group-flush victoryimg">
        {%else%}
        <ul class="list-group list-group-flush defeatimg">
        {%endif%}
        {% for entry in entry_list %}
        {% if entry.league.id == league.id and entry.camp == '블루' %}
            <li class="list-group-item fw-bold league-list">{{entry.name}}</li>
        {% endif %} 
        {% endfor %}   
        </ul>
    </div>
    <div class="col-md ">    
        {% if league.red == "승" %}
        <ul class="list-group list-group-flush victoryimg">
        {%else%}
        <ul class="list-group list-group-flush defeatimg">
        {%endif%}
        {% for entry in entry_list %}
        {% if entry.league.id == league.id and entry.camp == '레드' %}
                
                <li class="list-group-item fw-bold league-list">{{entry.name}}</li>
                
        {% endif %} 
        {% endfor %}   
        </ul>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock%}