{% extends 'base.html' %}
{% load lolteams_filter %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<form method="post" action="{% url 'lolteams:league' %}">
    {% csrf_token %}
<div class="row">
    <div class="col-md">
        <h1 class="text-primary fw-bold">블루팀</h1>
    </div>
    <div class="col-md">
        <h1 class="text-danger fw-bold">레드팀</h1>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <h3 class="text-primary">
            {{blue_win_rate}}%
        </h3>
    </div>
    <div class="col-md">
        <h3 class="text-danger">
            {{red_win_rate}}%
        </h3>
    </div>
</div>
<div class="row m-5">
    <div class="col-md">
        {% if blueTeams %}
        <div class="list-group">
            {% for blueTeam in blueTeams %}
            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center fw-bold">
                <span class="badge bg-primary rounded-pill">{{blueTeam.winrate|mul:"2"}}%</span>
                {{blueTeam.name}}
                <input type="hidden" name="blueTeam" value="{{blueTeam.id}}" />
            </button>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-2">
        <h1 class="fw-bold text-danger">VS</h1>
    </div>
    <div class="col-md">
        {% if redTeams %}
        <div class="list-group">
            {% for redTeam in redTeams %}
            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center fw-bold">
                {{redTeam.name}}
                <span class="badge bg-danger rounded-pill">{{redTeam.winrate|mul:"2"}}%</span>
                <input type="hidden" name="redTeam" value="{{redTeam.id}}" />
            </button>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<div class="row m-5">
    <div class="col-md mb-3">
        <select name="blue" class="form-select w-25 mx-auto" id="inputGroupSelect01">
            <option selected value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
    </div>
    <div class="col-md mb-3">
        <select name="red" class="form-select w-25 mx-auto" id="inputGroupSelect01">
            <option selected value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
    </div>
</div>
<div class="row">
    <div class="col mb-5">
        <button type="submit" class="btn btn-success">입력</button>
    </div>
</div>
</form>
{% endblock%}