{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="alerts">

    </div>
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-6 w-75 mx-auto border border-dark border-4 rounded p-3 mb-2">
                {% if count %}
                    {% for i in count %}
                        <button name="content" class="btn btn-outline-dark d-flex justify-content-between align-items-center fw-bolder entry" type="button" value="sdsa" disabled>
                            참가자를 선택해 주세요
                            <span class="badge bg-danger rounded-pill">0%</span>
                        </button>
                        <input type="hidden" class="sendId" name="id" value=""/>
                    {%endfor%}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mb-5 balance" value="balance" disabled>밸런스 뽑기</button>
            <button type="submit" class="btn btn-success mb-5 random" disabled>랜덤 뽑기</button>
        </form>
    </div>
    <div class="col-md-6">
        {% if member_list %}
        <div class="btn-group-vertical w-50 mx-auto mb-5">
            {% for member in member_list %}
            <button type="button" class="btn btn-outline-dark fw-bolder member" value="{{member.id}}">
                {{member.name}}
            </button>
            <input type="hidden" id="{{member.id}}" value="{{member.winrate}}"/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock%}
{% block script %}
<script src="{% static 'member.js' %}"></script>
{% endblock %}